<template name="postItem">
		<div class="post">
			<div class="post-content">
				<h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
			</div>
		</div>
</template>

<!-- Cerita -->
<!--
  Di awali dari main.html yang memiliki Inclusions (partials) dari file html postsList (daftar post),
  sekarang lihat file posts_list.html. post_list.html adalah Template yang memuat perulangan posts
  (membuat daftar post), yang didalamnya memiliki Inclusions postItem (Item post) yang merupakan file post_item.html,
  sekarang lihat post_item.html.
	post_item.html adalah template yang memuat item post itu sendiri yang terdiri dari link, judul dan nama domain.   
-->
