<template name="postsList">
  <div class="posts">
    {{#each posts}}
      {{> postItem}}
    {{/each}}
  </div>
</template>


<!-- Cerita -->
<!--
  Di awali dari main.html yang memiliki Inclusions (partials) dari file html postsList (daftar post),
  sekarang lihat file posts_list.html. post_list.html adalah Template yang memuat perulangan posts
  (membuat daftar post), yang didalamnya memiliki Inclusions postItem (Item post) yang merupakan file post_item.html,
  sekarang lihat post_item.html   
-->
